@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

body {
  background: rgb(255,255,255);
  background: linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(255,185,43,1) 50%, rgba(203,0,0,1) 100%); 
}

.nav-structure {
  padding: 25px 30px 25px 25px;
}

.button-like-style {
  border-radius: 10px;
}

.button-like-style:hover {
  background-image: linear-gradient(to right, #c21500 0%, #ffc500  51%, #c21500  100%);
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  background-position: right center; 
   color: #fff;
   text-decoration: none;
}
  
.about-landing {
  

}

.image-in-carousel {
  height: 16.7rem;
}



/* -webkit-text-stroke: 0.2px black; */